.open-quote-requests-header {
    font-size: 0.875rem;
    font-weight: 600;
}

.csp-open-quote-requests-service {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.csp-transactions-pending {
    color: var(--c-successPlatformOrange,rgb(255,136,38));
}

.csp-transactions-quote-received {
    color: var(--c-successPlatformLightGreenText,rgb(84,185,179));
}

.csp-transactions-quote-requested {
    color: var(--c-successPlatformBlue,rgb(142,176,225));
}

.csp-open-quote-requests-table-border {
    border-color: var(--c-successPlatformLightLightGrey,rgb(220,220,220));
}

.csp-open-quote-requests-result:hover {
    background-color: var(--c-successPlatformGreyBackground, rgb(246,246,246));
    cursor: pointer;
}
.csp-open-quote-requests-result:hover a {
    text-decoration: underline;
}