.THIS #sfdc_username_container{
    margin-bottom:10px;
    background-color:white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height:32px;
    
    background: #FFFFFF;
border: 1px solid #E2E5ED;
box-sizing: border-box;
box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
border-radius: 4px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}

.THIS #toparea{
    height:500px;
}

.THIS #maincomp{
width:35%;
background: #FFFFFF;
border: 1px solid #EAEDF3;
box-sizing: border-box;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
border-radius: 4px;
  top: 50%;
  left: 40%; 
    padding:1%; 
    min-width:340px;
              
}

.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: linear-gradient(360deg, #34AA44 2.22%, #38B249 100%);
border: 1px solid #2D9C3C;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(19, 31, 21, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.06);
border-radius: 4px;
}

.THIS .uiButton--default .label
{
    color: #FFFFFF;
}

.THIS  button.sfdc_button_login {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
background: linear-gradient(360deg, #E5173F 2.22%, #E5173F 100%);
border: 1px solid #E5173F;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(19, 31, 21, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.06);
border-radius: 4px;
}

.THIS  button:hover {
    background-color:#38B249;
    border-color:#285e8e;
    cursor:pointer;
    color:yellow;
}

.THIS  input {

    border: 0px solid transparent;
    width: 100%;
    -webkit-appearance: none;
    font-size: 14px;
        height:30px;
}

.THIS  #pwtxtnm{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

color: #3E3F42;
}

.THIS  #pwtxtlbl{
font-family: Open Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
text-transform: uppercase;

color: #3E3F42;
    padding-bottom:5px;
}

.THIS  #Spacer50{
    padding-bottom: 50px;
}

.THIS  #Spacer25{
    padding-bottom: 25px;
}

.THIS  #pwtxthead{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 38px;
/* identical to box height, or 146% */

color: #3E3F42;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
   
}