.THIS .prodbutt{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.THIS .textmiddle{
    text-align: center;
}

.THIS .textmiddlebutt{
    text-align: center;
    padding: 2px;
}

.THIS .LogCase{
    
}

.THIS textarea {
  height: 15rem;
}

.THIS .uploader {
  padding-top: 15px;
}

.THIS.waiting {
  cursor: wait;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}